<div class="d-flex justify-content-between align-items-center my-4">
  <h4 class="text-dark font-weight-bold my-1">Manage alerts</h4>
</div>
<div class="card w-100 h-100">
  <div class="d-flex p-2 m-1 justify-content-between align-items-center">
    <app-sort-by (sortBy)="onSort($event)" [fields]="fields"></app-sort-by>
    <div class="d-flex align-items-center">
      <app-sys-search-input (searchFor)="searchAlert($event)"
                            [searching]="searchingTarget"
                            placeholder="Search alert">
      </app-sys-search-input>
      <ng-select [clearable]="true"
                 [items]="severities"
                 [searchable]="false"
                 autofocus
                 style="min-width: 150px"
                 bindLabel="label"
                 (change)="onFilterSeverityChange($event)"
                 class="ml-5">
      </ng-select>
      <app-filter-time changeOnInit="NO"
                       [formatInstant]="true"
                       [container]="'body'"
                       class="ml-5"
                       (timeFilterChange)="onFilterTimeChange($event)"
      ></app-filter-time>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><span>Name</span></th>
        <th><span>Severity</span></th>
        <th><span>Received at</span></th>
        <th><span>Description</span></th>
      </tr>
      </thead>
      <tbody *ngIf="alerts && alerts.length>0 && !loading">
      <tr *ngFor="let alert of alerts; trackBy: trackIdentity">
        <td class="flex-nowrap text-nowrap">{{alert.summary}}</td>
        <td>
          <app-alert-severity [severity]="alert.severity"></app-alert-severity>
        </td>
        <td class="flex-nowrap text-nowrap">{{alert.receivedAt | date:'short'}}</td>
        <td>{{alert.description}}</td>
      </tr>
      </tbody>
      <tbody *ngIf="alerts && alerts.length === 0 && !loading">
      <tr>
        <td colspan="4">
          <app-no-data-found></app-no-data-found>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="5">
          <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
            <app-sys-spinner [height]="'35px'"
                             [label]="'Loading alerts'"
                             [loading]="loading"
                             [width]="'35px'">
            </app-sys-spinner>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="alerts && alerts.length>0" class="mb-3">
    <div class="row justify-content-center">
      <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [boundaryLinks]="true"
                      [collectionSize]="totalItems"
                      [maxSize]="5"
                      [pageSize]="itemsPerPage" [rotate]="true"></ngb-pagination>
    </div>
  </div>
</div>
