<div class="d-flex justify-content-between align-items-center my-4">
  <h4 class="text-dark font-weight-bold my-1">Applications</h4>
  <div class="filters d-flex">
    <app-sys-search-input (searchFor)="searchApp($event)"
                          [searching]="searchingApp"
                          placeholder="Search application">
    </app-sys-search-input>
    <ng-select [searchable]="true"
               [items]="categories"
               [loading]="!categories"
               [loadingText]="'Loading categories'"
               placeholder="Category"
               (change)="onFilterByCategory($event)"
               (clear)="clearSelect()"
               bindLabel="categoryName"
               bindValue="id"
               class="ml-3"
               style="min-width: 200px"
               [clearable]="true"></ng-select>
  </div>
</div>
<div class="row" *ngIf="applications && applications.length>0;else isEmpty">
  <div class="col-xl-3" *ngFor="let app of applications">
    <app-cron-app-card [app]="app" (refresh)="getApplications()"></app-cron-app-card>
  </div>
</div>
<ng-template #isEmpty>
  <div class="d-flex w-100 justify-content-center align-items-center" style="min-height: 600px">
    <app-no-data-found></app-no-data-found>
  </div>
</ng-template>
