<!-- begin:: Brand -->
<div class="brand flex-column-auto" [ngClass]="brandClasses" id="kt-aside">
  <!--begin::Logo-->
  <a href="javascript:;" routerLink="/app/crondata/features" class="brand-logo">
    <img alt="crondataTEST" style="width: 45px;height: auto" [attr.src]="headerLogo"/>
  </a>
  <!--end::Logo-->

  <!--  <ng-container *ngIf="asideSelfMinimizeToggle">-->
  <!--    &lt;!&ndash;begin::Toggle&ndash;&gt;-->
  <!--    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle" (click)="toggleAsideClick()">-->
  <!--      <span class="svg-icon svg-icon-xl"-->
  <!--            [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-double-left.svg'"></span>-->
  <!--    </button>-->
  <!--    &lt;!&ndash;end::Toolbar&ndash;&gt;-->
  <!--  </ng-container>-->
</div>
<!-- end:: Brand -->
