<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="target">
            <h2><span jhiTranslate="sApp.target.detail.title">Target</span> {{ target.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sApp.target.host">Host</span></dt>
                <dd>
                    <span>{{ target.host }}</span>
                </dd>
                <dt><span jhiTranslate="sApp.target.job">Job</span></dt>
                <dd>
                    <span>{{ target.job }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/target', target.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
