<app-modal-header [name]="target?.id?'Edit target':'Create target'"></app-modal-header>
<div class="container-fluid p-3">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="form-group">
      <label class="form-control-label" for="field_job">Target host</label>
      <input type="text" class="form-control" name="host" id="host"
             formControlName="host"/>
      <div
        *ngIf="editForm.get('host')!.invalid && (editForm.get('host')!.dirty || editForm.get('host')!.touched)">
        <small class="form-text text-danger"
               *ngIf="editForm.get('host')?.errors?.required">
          This field is required.
        </small>
        <small class="form-text text-danger"
               *ngIf="editForm.get('host')?.errors?.pattern">
          This field is invalid.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_job">Port</label>
      <input type="number" class="form-control" name="port" id="port"
             formControlName="port"/>
      <div *ngIf="editForm.get('port')!.invalid && (editForm.get('port')!.dirty || editForm.get('port')!.touched)">
        <small class="form-text text-danger"
               *ngIf="editForm.get('port')?.errors?.required">
          This field is required.
        </small>

      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="field_job">Job</label>
      <input type="text" class="form-control" name="job" id="field_job"
             formControlName="job"/>
      <div *ngIf="editForm.get('job')!.invalid && (editForm.get('job')!.dirty || editForm.get('job')!.touched)">
        <small class="form-text text-danger"
               *ngIf="editForm.get('job')?.errors?.required">
          This field is required.
        </small>

      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_job">Description</label>
      <textarea type="text" class="form-control" name="description" id="description"
                formControlName="description"></textarea>
    </div>

  </form>
  <div class="button-container d-flex justify-content-end mt-4">
    <button (click)="activeModal.close()" class="btn btn btn-light-primary mr-3">
      <i class="flaticon-close"></i>&nbsp;
      Cancel
    </button>
    <button (click)="save()"
            [disabled]="!editForm.valid"
            class="btn btn-primary"
            appButtonLoader [loading]="isSaving"
            classIcon="flaticon-map">
      {{target?.id ? 'Edit target' : 'Create target'}}
    </button>
  </div>
</div>

