<div class="d-flex justify-content-between align-items-center my-4">
  <h4 class="text-dark font-weight-bold my-1">Manage targets</h4>
  <div class="header-elements">
    <button (click)="createTarget()"
            class="btn btn-primary">
      <i class="flaticon-map icon-nm mr-2"></i> Create target
    </button>
  </div>
</div>
<div class="card w-100 h-100">
  <div class="d-flex p-2 m-1 justify-content-between align-items-center">
    <app-sort-by (sortBy)="onSort($event)" [fields]="fields"></app-sort-by>
    <app-sys-search-input (searchFor)="searchTarget($event)"
                          [searching]="searchingTarget"
                          placeholder="Search host">
    </app-sys-search-input>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th style="min-width: 110px"><span>Status</span></th>
        <th style="min-width: 200px"><span>Host</span></th>
        <th style="min-width: 110px"><span>Port</span></th>
        <th style="min-width: 200px"><span>Job</span></th>
        <th><span>Description</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="targets && targets.length>0 && !loading">
      <tr *ngFor="let target of targets; trackBy: trackIdentity">
        <td style="min-width: 110px">
          <span class="label label-lg label-inline"
                [ngbTooltip]="healthTooltip(target)"
                [ngClass]="healthClass(target)">
            {{getHealthLabel(target)}}
          </span>
        </td>

        <td>{{target.host}}</td>
        <td>{{target.port}}</td>
        <td>{{target.job}}</td>
        <td>{{target.description}}</td>
        <td class="text-center">
          <div class="btn-group flex-btn-group-container medium-icon">
            <span (click)="editTarget(target)"
                  class="m-0 p-1 cursor-pointer medium-icon">
              <i class="flaticon2-edit icon-nm"></i>
            </span>
            <span (click)="delete(target)"
                  class="m-0 p-1 cursor-pointer medium-icon">
              <i class="flaticon-delete icon-nm"></i>
            </span>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="targets && targets.length === 0 && !loading">
      <tr>
        <td colspan="4">
          <app-no-data-found></app-no-data-found>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="5">
          <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
            <app-sys-spinner [height]="'35px'"
                             [label]="'Loading targets'"
                             [loading]="loading"
                             [width]="'35px'">
            </app-sys-spinner>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="targets && targets.length>0" class="mb-3">
    <div class="row justify-content-center">
      <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [boundaryLinks]="true"
                      [collectionSize]="totalItems"
                      [maxSize]="5"
                      [pageSize]="itemsPerPage" [rotate]="true"></ngb-pagination>
    </div>
  </div>
</div>
