<!--begin::Login forgot password form-->
<div class="modal-header">
  <h5 class="modal-title">Recover account</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="activeModal.close()">
    <i aria-hidden="true" class="flaticon2-cross"></i>
  </button>
</div>
<div class="login-forgot p-5">
  <div class="mb-5">
    <div class="text-muted font-weight-bold">Enter your email to reset your password</div>
  </div>

  <app-alert-error></app-alert-error>

  <app-sys-alert [alert]="'reset.request.messages.info'|translate"
                 type="warning" *ngIf="!success"></app-sys-alert>

  <app-sys-alert [alert]="'reset.request.messages.success'|translate"
                 type="success" *ngIf="success"></app-sys-alert>

  <form class="form" id="kt_login_forgot_form" [formGroup]="resetRequestForm">
    <div class="form-group mb-10">
      <div class="input-icon">
        <input class="form-control" type="email"
               name="email"
               placeholder="Email"
               formControlName="email" #email/>
        <span>
          <i class="flaticon-email icon-md"></i>
        </span>
      </div>
      <div
        *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
        <small class="form-text text-danger"
               *ngIf="resetRequestForm.get('email')?.errors?.required">
          Your email is required.
        </small>

        <small class="form-text text-danger"
               *ngIf="resetRequestForm.get('email')?.errors?.email">
          Your email is invalid.
        </small>

        <small class="form-text text-danger"
               *ngIf="resetRequestForm.get('email')?.errors?.minlength">
          Your email is required to be at least 5 characters.
        </small>

        <small class="form-text text-danger"
               *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
          Your email cannot be longer than 100 characters.
        </small>
      </div>

    </div>
    <div class="form-group d-flex flex-wrap flex-center mt-10">
      <button id="kt_login_forgot_cancel"
              (click)="activeModal.close()"
              class="btn btn-light-primary">Cancel
      </button>
      <button id="kt_login_forgot_submit"
              (click)="requestReset()"
              class="btn btn-primary font-size-lg ml-3"
              [disabled]="requesting"
              appButtonLoader [loading]="requesting" classIcon="flaticon-email">
        Request
      </button>
    </div>
  </form>
</div>
<!--end::Login forgot password form-->
