thead {
  font-size: 11px;
}

td {
  font-size: 12px;
}

i {
  cursor: pointer;
}

#thName {
  width: 85%;
}

#thActions {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.utm-roles-create-form-btn {
  width: 150px;
}

