<div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px h-100" id="kt_profile_aside">
  <!--begin::Profile Card-->
  <div class="card card-custom card-stretch">
    <!--begin::Body-->
    <div class="card-body pt-4 pr-0 pl-0">
      <!--begin::User-->
      <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
        <div class="navi-item mb-2">
          <a routerLink="/app/crondata/account/profile/personal-information"
             routerLinkActive="active" class="navi-link py-4">
								<span class="navi-icon mr-2">
										<span class="svg-icon" inlineSVG="assets/media/svg/icons/General/User.svg">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
										</span>
								</span>
            <span class="navi-text font-size-lg">Personal information</span>
          </a>
        </div>
        <div class="navi-item mb-2">
          <a routerLink="/app/crondata/account/profile/change-password"
             routerLinkActive="active" class="navi-link py-4">
															<span class="navi-icon mr-2">
																<span class="svg-icon" inlineSVG="assets/media/svg/icons/Communication/Shield-user.svg">
																</span>
															</span>
            <span class="navi-text font-size-lg">Change Password</span>
          </a>
        </div>
      </div>
      <!--end::Nav-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Profile Card-->
</div>
