<div class="flex-row-fluid ml-lg-8" *ngIf="account$ | async as account">
  <!--begin::Card-->
  <div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
      </div>
      <div class="card-toolbar">
        <button (click)="changePassword()" class="btn btn-primary mr-2"
                appButtonLoader [loading]="changing" classIcon="flaticon-user-settings"
                [disabled]="passwordForm.invalid">Save Changes
        </button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="card-body">
      <app-sys-alert type="success" *ngIf="success" alert="Password changed!"></app-sys-alert>

      <app-sys-alert type="success" *ngIf="error"
                     alert="<strong>An error has occurred!</strong> The password could not be changed.!"></app-sys-alert>

      <app-sys-alert type="success" *ngIf="doNotMatch"
                     alert="The password and its confirmation do not match!"></app-sys-alert>

      <form name="form" role="form" [formGroup]="passwordForm">
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right" for="currentPassword">
            Current password</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                   placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
                   formControlName="currentPassword">
            <div
              *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)">
              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                Your password is required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right" for="newPassword">New password</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password" class="form-control" id="newPassword" name="newPassword"
                   placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                   formControlName="newPassword">
            <div
              *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Your password is required.
              </small>

              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Your password is required to be at least 4 characters.
              </small>

              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Your password cannot be longer than 50 characters.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right" for="confirmPassword">New password
            confirmation</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                   placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                   formControlName="confirmPassword">

            <div
              *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Your confirmation password is required.
              </small>

              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small class="form-text text-danger"
                     *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
