<div class="d-flex justify-content-between align-items-center my-4">
  <h4 class="text-dark font-weight-bold my-1">
    Health checks
    <span class="ml-2 text-primary cursor-pointer"
          ngbTooltip="Service health of application"
          placement="bottom"
          tooltipClass="utm-tooltip-bottom">
        <i class="flaticon-questions-circular-button"></i>
      </span>
  </h4>
  <button (click)="refresh()"
          class="btn btn-primary">
    <i class="flaticon2-reload mr-2"></i> Refresh
  </button>
</div>
<div class="card w-100 h-100">
  <div class="card-body">
    <div class="table-responsive">
      <div class="table-responsive">
        <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading">
          <thead>
          <tr>
            <th scope="col">Service Name</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Details</th>
          </tr>
          </thead>
          <tbody *ngIf="health">
          <tr *ngFor="let componentHealth of health.components | keys">
            <td>
              {{ 'health.indicator.' + componentHealth.key | translate }}
            </td>
            <td class="text-center">
                        <span class="badge" [ngClass]="getBadgeClass(componentHealth.value.status)">
                          {{ componentHealth.value.status }}
                        </span>
            </td>
            <td class="text-center">
              <a class="cursor-pointer" (click)="showHealth(componentHealth)"
                 *ngIf="componentHealth.key !== 'ping'">
                <i class="flaticon-eye"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
