// defining app colors
//$primary-color: #1565c0;
$primary-color: #232f3e;
//$primary-color: #63b175;
$primary-color-hover: #1a202f;
$blue-scroll: #0277bd;
$blue-component: #0277bd;
$success-color: #4caf50;
$danger-color: #f44336;
$grey-color: #888888;
$white-color: #f1f1f1;
$utm-header-color: $primary-color;
$utm-header-menu-text-color: #f1f1f1;
$utm-header-menu-hover-color: #f8f9fa;
$grey-border-color: #d3dae6;
$red-color: #F44336;
$blue-color: #2196F3;
$success-color: #4CAF50;
$info-color: #FF9800;
$teal-color: #009688;
$indigo-color: #303F9F;
